<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>{-23.547652, -46.651106}</string>
		<key>name</key>
		<string>Laboratórios de Informática</string>
		<key>buildName</key>
		<string>Ed. Rev. Mattathias Gomes Dos Santos</string>
		<key>number</key>
		<string>33</string>
		<key>color</key>
		<string>dc1923</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.548179, -46.650358}</string>
		<key>name</key>
		<string>Portaria</string>
		<key>buildName</key>
		<string>Rua da Consolação</string>
		<key>number</key>
		<string>C3</string>
		<key>color</key>
		<string>4a90e2</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.547996970260378, -46.6529381275177}</string>
		<key>name</key>
		<string>Portaria</string>
		<key>buildName</key>
		<string>Rua Piauí</string>
		<key>number</key>
		<string>D2</string>
		<key>color</key>
		<string>4a90e2</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.546254863503123, -46.65127918124199}</string>
		<key>name</key>
		<string>Portaria</string>
		<key>buildName</key>
		<string>Rua Maria Antônia</string>
		<key>number</key>
		<string>B2</string>
		<key>color</key>
		<string>4a90e2</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.547912, -46.650314}</string>
		<key>name</key>
		<string>Pós-graduação e Administração Geral</string>
		<key>buildName</key>
		<string>Ed. João Calvino</string>
		<key>number</key>
		<string>41</string>
		<key>color</key>
		<string>dc1923</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.547509, -46.651360}</string>
		<key>name</key>
		<string>FCI</string>
		<key>buildName</key>
		<string>Faculdade de Computação e Informática
Ed. Rev. Mattathias Gomes Dos Santos</string>
		<key>number</key>
		<string>31</string>
		<key>color</key>
		<string>dc1923</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.546564682341582, -46.651731133461}</string>
		<key>name</key>
		<string>Escola de Engenharia</string>
		<key>buildName</key>
		<string>Ed. Henrique Pegado</string>
		<key>number</key>
		<string>6</string>
		<key>color</key>
		<string>459044</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.546340924364817, -46.65150582790375}</string>
		<key>name</key>
		<string>Escola de Engenharia</string>
		<key>buildName</key>
		<string>Ed. William Alfred Waddel</string>
		<key>number</key>
		<string>5</string>
		<key>color</key>
		<string>459044</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{-23.54622904523363, -46.65170297026634}</string>
		<key>name</key>
		<string>Escola de Engenharia</string>
		<key>buildName</key>
		<string>Ed. Alfred Cownley Slater</string>
		<key>number</key>
		<string>4</string>
		<key>color</key>
		<string>459044</string>
	</dict>
</array>
</plist>
