<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>polylineString</key>
		<string>hkvnChxv{Ge@^{B`AkB{F|@eAEiArA}A</string>
		<key>name</key>
		<string>Nome</string>
		<key>color</key>
		<string>1c3879</string>
	</dict>
	<dict>
		<key>polylineString</key>
		<string>`|unCrpv{GlCrBjB{BIw@hBmBcAeE</string>
		<key>name</key>
		<string>Nome</string>
		<key>color</key>
		<string>ff3300</string>
	</dict>
	<dict>
		<key>polylineString</key>
		<string>d{unCzpv{GrEzDc@d@\XX^mBtCqGuF??</string>
		<key>name</key>
		<string>Nome</string>
		<key>color</key>
		<string>89faa6</string>
	</dict>
</array>
</plist>
